
// Inputs, labels, global form stuff
// --------------------------------------------------

.RsvpForm textarea,
.RsvpForm input[type="text"],
.RsvpForm input[type="email"] {
  font-size: 1.1em;
  padding: 0.25em;
  width: 100%;
  margin: 0.5em 0;
}

.RsvpForm label,
.Label {
  font-size: 1.1em;
}

.RsvpForm label > small,
.Label > small {
  font-size: 0.8em;
  display: block;
  color: #999;
  margin-top: 0.2em;
}

// Fields
// --------------------------------------------------

.Field {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

// Error states
// --------------------------------------------------

.FieldError {
  composes: Field;
}

.SubmitError,
.FieldError,
.FieldError label > small,
.FieldError .Label > small {
  color: #fc4a1a;
}

.FieldError input {
  border-color: #fc4a1a;
}

.FieldErrorMessage {
  font-size: 0.9em;
  font-weight: 700;
}

// Radio select fields
// --------------------------------------------------

.RadioSelectField {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0.3em;
  display: inline-block;
  margin: 0.5em 1em 0.5em 0;
  min-height: 7em;
  min-width: 7em;
  text-align: center;
  padding: 1em;
  cursor: pointer;
  opacity: 0.75;
}

.RadioSelectFieldUnselected {
  composes: RadioSelectField;
}

label.RadioSelectField > small {
  margin-top: 0.75em;
  color: #444;
}

.RadioSelectFieldSelected {
  composes: RadioSelectField;
  border-color: #3cb0fd;
  background-color: #e1eef7;
  color: #105bcc;
  opacity: 1;
}

label.RadioSelectFieldSelected > small {
  color: #105bcc;
}

.RadioSelectFieldMainText {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 0.25em;
}


.AttendingField .RadioSelectField {
  min-height: 7em;
  min-width: 10em;
}

.AdditionaGuestsList {
  list-style-type: none;
  padding-left: 0;
}

.AdditionaGuestsListItem {
  composes: Field;
  background-color: #efefef;
  border: 1px solid #ececec;
  padding: 0.5em;
}

.AdditionaGuestsListItemLabel {
}

.AdditionaGuestsListItemLabelText {
  padding: 5px 0;
}

// Submitting
// --------------------------------------------------

.SubmitText {
  display: inline-block;
}

.LoadingSpinner {
  display: inline-block;
  margin-left: 1em;
  height: 1em;
  width: 1em;
  animation: rotate 1s infinite linear;
  border: 2px solid #eee;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
