.VenuePhoto {
  width: 100%;
}

.VenuePhoto__Image {
  width: 100%;
}

.VenuePhoto__Caption {
  font-size: 0.8em;
  font-style: italic;
  border-bottom: 1px solid #eee;
  padding-bottom: 2px;
}

.ParkingList {
  list-style-type: none;
  padding: 0;
}

.ParkingList__name {
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
}

.ParkingList__cost {
  font-style: italic;
  display: inline-block;
  font-size: 0.9em;
}

.ParkingList__description {
  margin: 1em 0;
}

.ParkingList__map {
  margin: 1em 0;
}

@media (max-width: 999px) {
  .ParkingList__item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted rgba(#0F52BA, 0.5);
  }

  .ParkingList__item:last-child {
    border-bottom: none;
  }
} 

@media (min-width: 1000px) { 
  .ParkingList {
    display: flex;
  }

  .ParkingList__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
    border-right: 1px dotted rgba(#0F52BA, 0.5);
  }

  .ParkingList__item:first-child {
    padding-left: 0;
  }

  .ParkingList__item:last-child {
    border-right: none;
  }

  .ParkingList__name {
    display: block;
  }

  .ParkingList__title {
    order: 1;
  }

  .ParkingList__map {
    order: 2;
  }

  .ParkingList__description {
    order: 3;
    margin-top: 0;
  }
}