.Hero {
  text-align: center;
}

.Hero__title {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.Hero__subtitle {
  text-transform: uppercase;
  font-weight: 500;
}

.Hero__date,
.Hero__city {
  display: block;
}

.Hero__city {
  font-size: 0.8em;
}
