.Section {
  border: 1px solid #fefefe;
  box-shadow: 1px 1px 20px 0px rgba(100,100,100,0.5);
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Section > h3:first-child {
  margin-top: 0;
}