:global {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fefefe;

    // background-image: url('/images/vertical-waves/vertical-waves.png');
    // background-image: url('/images/light_grey/light_grey.png');
    // background-image: url('/images/grid/grid.png');
    // background-image: url('/images/symphony/symphony.png');
    // background-image: url('/images/cream_pixels/cream_pixels.png');
    // background-image: url('/images/debut_light/debut_light.png');
    // background-image: url('/images/subtle_white_feathers/subtle_white_feathers.png');
    // background-image: url('/images/debut_light/debut_light.png');
    // background-image: url('/images/clean_textile/clean_textile.png');
  }

  a {
    color: #105BCC;
    // color: darken(#61dafb, 40);
  }

  h1 {
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
  }

  h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
  }

  h6 {
    font-size: 0.8em;
  }
}

.container {
  max-width: 80%;
  margin: 1em auto;
}
