:global {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #fefefe;
    color: #555;
  }

  a {
    color: #105BCC;
  }

  h1 {
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
  }

  h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
  }

  h6 {
    font-size: 0.8em;
  }

  button {
    font-size: 0.9em;
    border-radius: 0.2em;
    color: #ffffff;
    background-color: #105bcc;
    border: solid #105bcc 1px;
    box-shadow: 1px 1px 3px #666666;
    padding: 0.5em;
    margin: 2px 1px 1px 2px;
    text-decoration: none;
  }

  button:hover,
  button:focus {
    background-color: #105bcc;
    box-shadow: 2px 2px 3px #666666;
    margin: 1px 2px 2px 1px;
    cursor: pointer;
  }

  button:active {
    box-shadow: none;
    margin: 3px 0px 0px 3px;
  }

  button:disabled,
  button[disabled] {
    opacity: 0.7;
    background-color: #cecece;
    border-color: #aaa;
    margin: 2px 1px 1px 2px;
    box-shadow: 0px 0px 3px #666666;
    cursor: not-allowed;
  }
}

.container {
  max-width: 80%;
  margin: 1em auto;
}
