$ribbon-color: #0F52BA;
$ribbon-border-color: darken($ribbon-color, 10%);
$ribbon-behind-color: darken($ribbon-color, 5%);

.Banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
  position: relative;
  height: 2em;
  background: $ribbon-color;
  border: 1px solid $ribbon-border-color;
  color: #fff;
  // border: 1px solid rgba(0, 0, 0, 0.2);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    border-width: 1em; /* title height - padding */
    border-style: solid;
    z-index: -1;
    top: 0.2em;
  }

  &::before {
    border-color: $ribbon-behind-color $ribbon-behind-color $ribbon-behind-color transparent; /*bg color for left side of ribbon */
    left: -1.5em;
  }

  &::after {
    border-color: $ribbon-behind-color transparent $ribbon-behind-color $ribbon-behind-color; /*bg color for left side of ribbon */
    right: -1.5em;
  }
}

.Banner__content {
  font-size: 1.25em;
}
